input, textarea, button {
    /* css 3 */
    border-radius:6px;
    /* mozilla */
    -moz-border-radius:6px;
    /* webkit */
    -webkit-border-radius:6px;
    padding: 5px;
    border: none !important;
}

button {
    padding: 10px;

}

td, table {
    border: none !important;
    padding: 10px !important;
    vertical-align: top !important;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.date-footer {
    width: 100%;
    text-align: right;
}