input, textarea, button {
    /* css 3 */
    border-radius:6px;
    /* mozilla */
    -moz-border-radius:6px;
    /* webkit */
    -webkit-border-radius:6px;
    padding: 5px;
}

button {
    padding: 10px;

}

td, table {
    border: none !important;
    padding: 0px;
    vertical-align: top;
}

.align-right-top {
    text-align: right;
}

.align-center {
    text-align: center;
}